
<h1>Hello, Rails!</h1>
<%
=begin%>
 <%= link_to 'My Blog', controller: 'articles' %> 
<%
=end%>

<form method="GET" action="/">
    title: <input type="text" name="title" /> </br>
    position: <input type="text" name="position"> </br>
    <input type="submit" value="Gui Len Server">
</form>    